Resources:
  StartupSignupsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema: 
        HashKeyElement:
          AttributeName: "email"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
  NewSignupQueue: 
    Type: "AWS::SQS::Queue"
  NewSignupTopic:
    Type: AWS::SNS::Topic
    Properties: 
      Subscription:
        - Endpoint:
            Fn::GetOptionSetting:
              OptionName: NewSignupEmail
              DefaultValue: "nobody@amazon.com"
          Protocol: email
        - Endpoint:  
            Fn::GetAtt:  ["NewSignupQueue", "Arn"]
          Protocol: "sqs"
  AllowSNS2SQSPolicy: 
    Type: "AWS::SQS::QueuePolicy"
    Properties: 
      Queues: 
        - 
          Ref: "NewSignupQueue"
      PolicyDocument: 
        Version: "2008-10-17"
        Id: "PublicationPolicy"
        Statement: 
          - 
            Sid: "Allow-SNS-SendMessage"
            Effect: "Allow"
            Principal: 
              AWS: "*"
            Action: 
              - "sqs:SendMessage"
            Resource: 
              Fn::GetAtt: 
                - "NewSignupQueue"
                - "Arn"
            Condition: 
              ArnEquals: 
                aws:SourceArn: 
                  Ref: "NewSignupTopic"
files:
  "/var/app/app.config":
    mode: "000444"
    owner: "apache"
    group: "apache"
    content: |
      AWS_REGION = '`{ "Ref" : "AWS::Region"}`'
      STARTUP_SIGNUP_TABLE = '`{ "Ref" : "StartupSignupsTable"}`'
      NEW_SIGNUP_TOPIC = '`{ "Ref" : "NewSignupTopic"}`'
option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "nobody@amazon.com"
  "aws:elasticbeanstalk:application:environment":
    "APP_CONFIG": "/var/app/app.config"
    "FLASK_DEBUG": "false"
    "THEME": "flatly"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"